<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 设置移动端meta属性 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<title>就诊信息</title>
	
	<!-- 引入当前页面css样式表 -->
	<link rel="stylesheet" href="../static/css/jiuzhen.css">

	<!-- 引入swiper.css表 -->
	<link rel="stylesheet" href="../static/css/swiper-3.4.2.min.css">

	<!-- 引入重置样式表 -->
	<link rel="stylesheet" href="../static/css/reset.css">

	<!-- 引入swiper.js文件 -->
	<script src="../static/js/swiper-3.4.2.min.js"></script>

	<!-- 引入移动端rem配置文件 -->
	<script src="../static/js/rem.js"></script>	

	<!-- 引入jQuery -->
	<script src="../static/js/jquery.min.js"></script>

	<!-- 引入当前页面js -->
	<script src="../static/js/jiuzhen.js"></script>
</head>
<body>
	<!-- 标题栏布局开始 -->
	<div class="nav">
		<div class="nav_back"><a href="../../yuanbingbing/chooseDoctor.html"><img src="../../imgs/left.png" alt="" class="go_left"></a></div>
		<div class="nav_tit">就诊信息</div>
		<div class="nav_more"><img src="../static/imgs/baidian.png" alt="" class="nav_more_icon"></div>
	</div>
	<!-- 标题栏布局结束 -->

	<!-- 内容部分开始 -->
	<div class="content">
		<div class="user_infor">
			<p class="user_infor_tit">— 主人基本信息 —</p>
			<ul>
				<li>
					<span>主人姓名</span>
					<div>
						<span>选择</span>
						<span>已有信息</span>
					</div>
				</li>
				<li>
					<span>宠物姓名</span>
				</li>
				<li>
					<span>地址</span>
				</li>
				<li>
					<span>联系方式</span>
				</li>
			</ul>
		</div>
		<div class="user_infor">
			<p class="user_infor_tit">— 就诊信息 —</p>
			<ul>
				<li>
					<span>就诊时间</span>
				</li>
				<li>
					<span>就诊地址</span>
				</li>
				<li>
					<span>就诊路线</span>
				</li>
				<li>
					<span>医院联系电话</span>
				</li>
			</ul>
		</div>
		
		<div class="cm_btn"><a href="../../jiangxiaolong/see a doctor.html">提交</a></div>
	</div>
	<!-- 内容部分结束 -->
</body>
</html>