<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- 设置移动端meta属性 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<title>寄样需求</title>
	
	<!-- 引入当前页面css样式表 -->
	<link rel="stylesheet" href="../static/css/jiyangxuqiu.css">

	<!-- 引入swiper.css表 -->
	<link rel="stylesheet" href="../static/css/swiper-3.4.2.min.css">

	<!-- 引入重置样式表 -->
	<link rel="stylesheet" href="../static/css/reset.css">

	<!-- 引入swiper.js文件 -->
	<script src="../static/js/swiper-3.4.2.min.js"></script>

	<!-- 引入移动端rem配置文件 -->
	<script src="../static/js/rem.js"></script>	

	<!-- 引入jQuery -->
	<script src="../static/js/jquery.min.js"></script>

	<!-- 引入当前页面js -->
	<script src="../static/js/jiyangxuqiu.js"></script>

</head>
<body>
	<!-- 标题栏布局开始 -->
	<div class="nav">
		<div class="nav_back"><a href="../../zhangpengfei/fosterCare.html"><img src="../../imgs/left.png" alt="" class="go_left"></a></div>
		<div class="nav_tit">寄养需求</div>
		<div class="nav_more"><img src="../static/imgs/baidian.png" alt="" class="nav_more_icon"></div>
	</div>
	<!-- 标题栏布局结束 -->

	<!-- 筛选栏布局开始 -->
	<div class="screen">
		<div class="chose_city">
			<span>城市</span>
			<span class="sanj"></span>
		</div>
		<div class="new_publish">
			<span>最新发布</span>
			<span class="sanj"></span>
		</div>
		<div class="screen_more">
			<span>筛选</span>
			<span class="sanj"></span>
		</div>
	</div>
	<!-- 筛选栏布局结束 -->

	<!-- 列表内容布局开始 -->
		<div class="content">
			<ul>
				<li>
					<a href="../../jiangxiaolong/fosterageDemand.html">
						<div class="user_img"><img src="../static/imgs/user_tit_big1.png" alt=""></div>
						<div class="user_des">
							<p>萌猫求寄样</p>
							<p>2017/05/2 <span>至</span> 2017/08/02</p>
							<p>小奶猫 (小型)</p>
						</div>
						<div class="user_num">
							<img src="../static/imgs/user_tit_sm.png" alt="">
							<span class="user_num_count">10</span>
						</div>
					</a>
				</li>
				<li>
					<a href="../../jiangxiaolong/fosterageDemand.html">
						<div class="user_img"><img src="../static/imgs/user_tit_big2.png" alt=""></div>
						<div class="user_des">
							<p>萌猫求寄样</p>
							<p>2017/05/2 <span>至</span> 2017/08/02</p>
							<p>小奶猫 (小型)</p>
						</div>
						<div class="user_num">
							<img src="../static/imgs/user_tit_sm.png" alt="">
							<span class="user_num_count">10</span>
						</div>
					</a>
				</li>
				<li>
					<a href="../../jiangxiaolong/fosterageDemand.html">
						<div class="user_img"><img src="../static/imgs/user_tit_big3.png" alt=""></div>
						<div class="user_des">
							<p>萌猫求寄样</p>
							<p>2017/05/2 <span>至</span> 2017/08/02</p>
							<p>小奶猫 (小型)</p>
						</div>
						<div class="user_num">
							<img src="../static/imgs/user_tit_sm.png" alt="">
							<span class="user_num_count">10</span>
						</div>
					</a>
				</li>
				<li>
					<a href="../../jiangxiaolong/fosterageDemand.html">
						<div class="user_img"><img src="../static/imgs/user_tit_big1.png" alt=""></div>
						<div class="user_des">
							<p>萌猫求寄样</p>
							<p>2017/05/2 <span>至</span> 2017/08/02</p>
							<p>小奶猫 (小型)</p>
						</div>
						<div class="user_num">
							<img src="../static/imgs/user_tit_sm.png" alt="">
							<span class="user_num_count">10</span>
						</div>
					</a>
				</li>
				<li>
					<a href="../../jiangxiaolong/fosterageDemand.html">
						<div class="user_img"><img src="../static/imgs/user_tit_big2.png" alt=""></div>
						<div class="user_des">
							<p>萌猫求寄样</p>
							<p>2017/05/2 <span>至</span> 2017/08/02</p>
							<p>小奶猫 (小型)</p>
						</div>
						<div class="user_num">
							<img src="../static/imgs/user_tit_sm.png" alt="">
							<span class="user_num_count">10</span>
						</div>
					</a>
				</li>
				<li>
					<a href="../../jiangxiaolong/fosterageDemand.html">
						<div class="user_img"><img src="../static/imgs/user_tit_big3.png" alt=""></div>
						<div class="user_des">
							<p>萌猫求寄样</p>
							<p>2017/05/2 <span>至</span> 2017/08/02</p>
							<p>小奶猫 (小型)</p>
						</div>
						<div class="user_num">
							<img src="../static/imgs/user_tit_sm.png" alt="">
							<span class="user_num_count">10</span>
						</div>
					</a>
				</li>
			</ul>
			
		</div>
	<!-- 列表内容布局结束 -->
</body>
</html>