<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 设置移动端meta属性 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<title>问诊必填</title>
	
	<!-- 引入当前页面css样式表 -->
	<link rel="stylesheet" href="../static/css/wenzhen.css">

	<!-- 引入swiper.css表 -->
	<link rel="stylesheet" href="../static/css/swiper-3.4.2.min.css">

	<!-- 引入重置样式表 -->
	<link rel="stylesheet" href="../static/css/reset.css">

	<!-- 引入swiper.js文件 -->
	<script src="../static/js/swiper-3.4.2.min.js"></script>

	<!-- 引入移动端rem配置文件 -->
	<script src="../static/js/rem.js"></script>	

	<!-- 引入jQuery -->
	<script src="../static/js/jquery.min.js"></script>

	<!-- 引入当前页面js -->
	<script src="../static/js/wenzhen.js"></script>
</head>
<body>
	<!-- 标题栏布局开始 -->
	<div class="nav">
		<div class="nav_back"><a href="../../chenhaodong/4-6.html"><img src="../../imgs/left.png" alt="" class="go_left"></a></div>
		<div class="nav_tit">问诊必填</div>
		<div class="nav_more">
			<img src="../static/imgs/baidian.png" alt="" class="nav_more_icon">
			<div class="more_down">
				<p>搜索</p>
				<p>首页</p>
				<p>消息</p>
				<p>扫一扫</p>
				<span class="more_sanj"></span>
			</div>
		</div>
	</div>
	<!-- 标题栏布局结束 -->

	<!-- 内容部分开始 -->
	<div class="content">
		<div class="user_infor">
			<p class="user_infor_tit">— 基本信息 —</p>
			<ul>
				<li>
					<span>年龄</span>
					<div>
						<span>请选择</span>
					</div>
				</li>
				<li>
					<span>地址</span>
					<div>
						<span>请选择</span>
					</div>
				</li>
				<li>
					<span>性别</span>
					<div>
						<span>请选择</span>
					</div>
				</li>
				<li>
					<span>绝育</span>
					<div>
						<span>请选择</span>
					</div>
				</li>
				<li>
					<span>疫苗</span>
					<div>
						<span>请选择</span>
					</div>
				</li>
				<li>
					<span>驱虫</span>
					<div>
						<span>请选择</span>
					</div>
				</li>
			</ul>
		</div>

		<!-- 症状描述布局开始 -->
		<div class="sp_des">
			<p class="user_infor_tit">— 症状描述 —</p>
			<textarea name="" id="" cols="30" rows="10">
				

			</textarea>
			<div class="cm_btn"><a href="../../jiangxiaolong/InterrogationMandatory.html">提交</a></div>
		</div>
		<!-- 症状描述布局结束 -->
		
		<!-- 提交按钮 -->
		

	</div>
	<!-- 内容部分结束 -->

</body>
</html>