<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>消息设置</title>

	<!-- 设置移动端meta属性 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	
	<!-- 引入当前页面css样式表 -->
	<link rel="stylesheet" href="../static/css/xiaoxishezhi.css">

	<!-- 引入swiper.css表 -->
	<link rel="stylesheet" href="../static/css/swiper-3.4.2.min.css">

	<!-- 引入重置样式表 -->
	<link rel="stylesheet" href="../static/css/reset.css">

	<!-- 引入swiper.js文件 -->
	<script src="../static/js/swiper-3.4.2.min.js"></script>

	<!-- 引入移动端rem配置文件 -->
	<script src="../static/js/rem.js"></script>	

	<!-- 引入jQuery -->
	<script src="../static/js/jquery.min.js"></script>

	<!-- 引入当前页面js -->
	<script src="../static/js/xiaoxishezhi.js"></script>
</head>
<body>
	<!-- 标题栏布局开始 -->
	<div class="nav">
		<div class="nav_back"><a href="../../zhuguoqing/step.html"><img src="../static/imgs/go_left_white.png" alt="" class="go_left"></a></div>
		<div class="nav_tit">新消息提示</div>
		<div class="nav_more"><img src="../static/imgs/baidian.png" alt="" class="nav_more_icon"></div>
	</div>
	<!-- 标题栏布局结束 -->

	<div class="content">
		<ul>
			<li>
				<span>接收新消息提示</span>
				<div class="switch">
					<div class="cir"></div>
				</div>
			</li>
			<li>
				<span>声音</span>
				<div class="switch active">
					<div class="cir"></div>
				</div>
			</li>
			<li>
				<span>震动</span>
				<div class="switch">
					<div class="cir"></div>
				</div>
			</li>
			<li>
				<span>消息提示音</span>
				<p>
					<span>系统自定</span>
					<span class="sanj"></span>
				</p>
			</li>
			
		</ul>
	</div>

</body>
</html>