<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>立即预定</title>

	<!-- 设置移动端meta属性 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	
	<!-- 引入当前页面css样式表 -->
	<link rel="stylesheet" href="../static/css/yuding.css">

	<!-- 引入swiper.css表 -->
	<link rel="stylesheet" href="../static/css/swiper-3.4.2.min.css">

	<!-- 引入重置样式表 -->
	<link rel="stylesheet" href="../static/css/reset.css">

	<!-- 引入swiper.js文件 -->
	<script src="../static/js/swiper-3.4.2.min.js"></script>

	<!-- 引入移动端rem配置文件 -->
	<script src="../static/js/rem.js"></script>	

	<!-- 引入jQuery -->
	<script src="../static/js/jquery.min.js"></script>

	<!-- 引入当前页面js -->
	<script src="../static/js/yuding.js"></script>
</head>
<body>
	<!-- 标题栏布局开始 -->
	<div class="nav">
		<div class="nav_back"><a href="../../yuanbingbing/Family photo.html"><img src="../../imgs/left.png" alt="" class="go_left"></a></div>
		<div class="nav_tit">立即预定</div>
		<div class="nav_more"><img src="../static/imgs/baidian.png" alt="" class="nav_more_icon"></div>
	</div>
	<!-- 标题栏布局结束 -->

	<!-- 内容开始 -->
	<div class="content">
		<div class="chose_time">
			<span>请选择寄养时间</span>
			<span><img src="../../imgs/right.png" alt=""></span>
		</div>
		<!-- 选择宠物 -->
		<div class="chose_animal">
			<p>选择寄养的宠物</p>
			<ul>
				<li><img src="../static/imgs/user_tit_big1.png" alt=""></li>
				<li><img src="../static/imgs/user_tit_big2.png" alt=""></li>
				<li><span>+</span></li>
			</ul>
		</div>

		<!-- 选择附加服务 -->
		<div class="other_ser">
			<p>选择其他服务</p>
			<div class="this_ser">
				<div>
					<span>洗 澡&nbsp;&nbsp;</span>
					<span>￥<em class="danjia">20</em>/次</span>
				</div>
			
				<div>
					<span class="reduce">-</span><span class="count">5</span><span class="plus">+</span>
					<span><em class="xiaoji">100</em>元</span>
				</div>
			</div>
			<div class="this_ser">
				<div>
					<span>接 送&nbsp;&nbsp;</span>
					<span>￥<em class="danjia">20</em>/次</span>
				</div>
			
				<div>
					<span class="reduce">-</span><span class="count">5</span><span class="plus">+</span>
					<span><em class="xiaoji">100</em>元</span>
				</div>
			</div>
			<div class="this_ser">
				<div>
					<span>美 发&nbsp;&nbsp;</span>
					<span>￥<em class="danjia">20</em>/次</span>
				</div>
			
				<div>
					<span class="reduce">-</span><span class="count">5</span><span class="plus">+</span>
					<span><em class="xiaoji">100</em>元</span>
				</div>
			</div>
		</div>
	</div>
	<!-- 内容结束 -->

	<p class="bac"></p>
	<div class="server">
		<p>请选择保障服务</p>
		<p><span class="scir"></span><span>5元/只/天（免费赠送）</span></p>
	</div>
	<p class="bac"></p>
	
	<div class="leav_mess">
		<p>输入寄养家庭留言</p>
		<textarea name="" id="" cols="30" rows="10">
			
		</textarea>
		<p class="agr"><lable for=""><input style="vertical-align:middle;" type="checkbox">同意</lable><span>《双方寄养服务协议》</span></p>
	</div>

	<!-- 底部总金额布局开始 -->
	<div class="price">
		<div class="allmoney">
			<em>总金额:</em><span> ￥ </span><span class="total"> 0.00</span>
		</div>
		<div class="sendOder">提交订单</div>
	</div>
	<!-- 底部总金额布局结束 -->

</body>
</html>