<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>预约看病</title>

	<!-- 设置移动端meta属性 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	
	<!-- 引入当前页面css样式表 -->
	<link rel="stylesheet" href="../static/css/yuyue.css">

	<!-- 引入swiper.css表 -->
	<link rel="stylesheet" href="../static/css/swiper-3.4.2.min.css">

	<!-- 引入重置样式表 -->
	<link rel="stylesheet" href="../static/css/reset.css">

	<!-- 引入swiper.js文件 -->
	<script src="../static/js/swiper-3.4.2.min.js"></script>

	<!-- 引入移动端rem配置文件 -->
	<script src="../static/js/rem.js"></script>	

	<!-- 引入jQuery -->
	<script src="../static/js/jquery.min.js"></script>

	<!-- 引入当前页面js -->
	<script src="../static/js/yuyue.js"></script>

</head>
<body>
	<!-- 标题栏布局开始 -->
	<div class="nav">
		<div class="nav_back"><a href="../../zhangpengfei/medical.html"><img src="../../imgs/left.png" alt="" class="go_left"></a></div>
		<div class="nav_tit">预约看病</div>
	</div>
	<!-- 标题栏布局结束 -->

	<!-- 筛选开始 -->
	<div class="chose_des">
		<div class="chose_hospital"><span>医院</span></div>
		<div class="chose_dis">
			<span>地区</span>
			<span class="sanj"></span>
		</div>
	</div>
	<!-- 筛选结束 -->

	<!-- 列表内容布局开始 -->
	<div class="content">
		<ul>
			<li>
				<div class="hos_img"><img src="../static/imgs/yuyue1.png" alt=""></div>
				<div class="hos_des">
					<p>可爱多宠物医院</p>
					<p>三级甲等</p>
					<p>预约量 <span>103.3</span>万</p>
				</div>
				<div class="hos_btn">
					<p><a href="../../yuanbingbing/chooseDoctor.html">去那里</a></p>
					<p>距离: <span>20</span> 米</p>
				</div>
			</li>
			<li>
				<div class="hos_img"><img src="../static/imgs/yuyue2.png" alt=""></div>
				<div class="hos_des">
					<p>可爱多宠物医院</p>
					<p>三级甲等</p>
					<p>预约量 <span>103.3</span>万</p>
				</div>
				<div class="hos_btn">
					<p><a href="../../yuanbingbing/chooseDoctor.html">去那里</a></p>
					<p>距离: <span>20</span> 米</p>
				</div>
			</li>
			<li>
				<div class="hos_img"><img src="../static/imgs/yuyue1.png" alt=""></div>
				<div class="hos_des">
					<p>可爱多宠物医院</p>
					<p>三级甲等</p>
					<p>预约量 <span>103.3</span>万</p>
				</div>
				<div class="hos_btn">
					<p><a href="../../yuanbingbing/chooseDoctor.html">去那里</a></p>
					<p>距离: <span>20</span> 米</p>
				</div>
			</li>
			<li>
				<div class="hos_img"><img src="../static/imgs/yuyue2.png" alt=""></div>
				<div class="hos_des">
					<p>可爱多宠物医院</p>
					<p>三级甲等</p>
					<p>预约量 <span>103.3</span>万</p>
				</div>
				<div class="hos_btn">
					<p><a href="../../yuanbingbing/chooseDoctor.html">去那里</a></p>
					<p>距离: <span>20</span> 米</p>
				</div>
			</li>
			<li>
				<div class="hos_img"><img src="../static/imgs/yuyue1.png" alt=""></div>
				<div class="hos_des">
					<p>可爱多宠物医院</p>
					<p>三级甲等</p>
					<p>预约量 <span>103.3</span>万</p>
				</div>
				<div class="hos_btn">
					<p><a href="../../yuanbingbing/chooseDoctor.html">去那里</a></p>
					<p>距离: <span>20</span> 米</p>
				</div>
			</li>
			<li>
				<div class="hos_img"><img src="../static/imgs/yuyue2.png" alt=""></div>
				<div class="hos_des">
					<p>可爱多宠物医院</p>
					<p>三级甲等</p>
					<p>预约量 <span>103.3</span>万</p>
				</div>
				<div class="hos_btn">
					<p><a href="../../yuanbingbing/chooseDoctor.html">去那里</a></p>
					<p>距离: <span>20</span> 米</p>
				</div>
			</li>
		</ul>

	</div>
	<!-- 列表内容布局结束 -->

</body>
</html>