*{
	margin:0;
	padding:0;
	/*text-align:center;*/
	text-decoration:none;
}
html{
	font-size: 20px;
}
body{
	background:#EFEFEF;
}
#eliminate{
	clear:both;
}
/*头部开始*/
	#header{
		height:2.2rem;
		width:18.75rem;
		background-color:#5FDED1;
		position:relative;
	}
	#header>h1{
		padding:0 5.0rem;
		font-size:0.9rem;
		color:#fff;
		line-height:2.2rem;
		text-align:center;
		margin:0 auto;
	}
	#header>a{
		display:block;
		position:absolute;
		height:1.0rem;
		top:50%;
		margin-top:-0.5rem;
	}
	#add{
		left:0.5rem;
		width:1.6rem;
		color: #fff;
	}
	#more{
		right:0.5rem;
		width:2.0rem;
		line-height: 1.1rem;
		color:#fff;
		font-size:0.7rem;
	}
/*头部结束

/*原始密码开始*/
#wrap{
	width: 18.75rem;
	height: 6.8rem;
	background: #fff;
	margin-top: 0.5rem;
}
#original{
	width: 18.25rem;
	height: 2.0rem;
	margin-left: 0.5rem;
	border-bottom: 1px solid #d3d3d3;
}
#original label{
	display: inline-block;
	width: 4.0rem;
	height: 2.0rem;
	line-height: 2.0rem;
	/*background: blue;*/
	margin-left: 0.5rem;
	font-size: 0.7rem;
	color: #333333;
	letter-spacing: 0.058rem;
}
#original input{
	width: 12.5rem;
	font-size: 0.7rem;
	border: 0;
	height:1.9rem;
	outline: none;
}
#original.originalNew{
	margin-top: 0;
	border: 0;
}
/*原始密码结束*/