 /*顶部导航样式开始 */
html{
	font-size: 20px;
}
*{
	list-style: none;
	text-decoration: none;
	margin:0;
	padding:0;
}
/*容器开始*/
.container{
	width: 18.75rem;
	height: 33.3rem;
	background: #EFEFEF;
}
/*容器结束*/
/*头部固定导航条开始*/
.nav{
	width: 18.75rem;
	height: 2.2rem;
	background: #5FDED1;
}
/*合作医院开始*/
.nav-1{
	width: 18.75rem;
	height: 1.25rem;
	padding-top: 0.5rem;
	margin-bottom: 0.45rem;
	clear:both;
}
/*左边的箭头小图标开始*/
.nav-1-left{
	width:0.6rem;
	height: 1.25rem;
	float: left;
	margin-left: 0.5rem;
	line-height:1.25rem;
}
.nav-1-left img{
	width: 100%;
}
/*左边的箭头小图标结束*/
/*中间文字区域开始*/
.nav-1-center{
	width: 3.85rem;
	height: 1.25rem;
	margin:0 auto;
	font-size: 0.9rem;
	text-align: center;
	line-height: 1.25rem;
	color:#fff;
	letter-spacing: 1.02px;
}
/*中间文字区域结束*/
/*右边的圆点区域开始*/
.nav-1-right{
	width:1.0rem;
	height: 1.25rem;
	float: right;
	margin-right: 10px;
}
.nav-1-right img{
	width: 100%;
}
/*右边的圆点区域结束*/
/*合作医院结束*/
/*头部固定导航条结束*/
.margin-bottom{
	width: 18.75rem;
	height: auto;
	background: #EFEFEF;
}
/*附近开始*/
.column{
	width: 18.75rem;
	height: 1.9rem;
	background: #fff;
	overflow: hidden;
}
.column-1{
	width: 17.7rem;
	height: 0.8rem;
	margin:0 auto;
	margin-top:0.5rem;
}
.column-2{
	width: 100%;
	height: 100%;
	line-height: 100%;
	clear: both;
}
/*左边全部开始*/
.column-2-left{
	display: inline-block;
	width: auto;
	margin-bottom: 3px;
	height: 100%;
	font-size: 0.8rem;
	float: left;
	letter-spacing: 1.06px
}
.column-2-left a{
	color:#333333;
}
.column-2-left i{
	font-size: 0.7rem;
}
/*左边全部结束*/
/*中间部分开始*/
.column-2-center{
	display: inline-block;
	width: 1.75rem;
	height: 100%;
	font-size: 0.8rem;
	text-align: center;
	float: left;
	margin-left:4.75rem;
}
.column-2-center a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color:#333333;
}
/*中间部分结束*/
/*只能排序开始*/
.column-2-right{
	display: inline-block;
	width: 4.0rem;
	height: 100%;
	font-size: 0.8rem;
	text-align: right;
	float: right;
	letter-spacing: 1.06px

}
.column-2-right a{
	color:#333;
}
/*只能排序结束*/
/*附近结束*/

/*图片区域开始*/
.main{
	width: 18.75rem;
	height: auto;
}
.main-1{
	width: 17.75rem;
	height: 26.91rem;
	padding-top: 0.5rem;
	padding-bottom: 0.84rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	background: #EFEFEF;
}
.main-1 ul li {
	width: 8.61rem;
	height: 8.61rem;
	float: left;
	position: relative;
}
.main-1 ul li a{
	color:#000;
}
.main-1-text{
	width: 8.61rem;
	height: 1.25rem;
	opacity: 0.5;
	background: #FCD76C;
	position: absolute;
	bottom:0;
	text-align: center;
	line-height: 1.25rem;
	font-size: 0.7rem;
	letter-spacing: 0.68px;
}
.main-1 ul li img{
	width: 100%;
	height: 100%;
}
.main-1-img1{
	margin-right: 0.5rem;
}
.main-1img2{
	margin-bottom: 0.54rem;
}
/*图片区域结束*/