html{
	font-size: 20px;
}
*{
	list-style: none;
	text-decoration: none;
}
/*内容开始*/
.container{
	width: 18.75rem;
	height: 33.35rem;
	background: #fff;
}
/*头部固定导航条开始*/
.nav{
	width: 18.75rem;
	height: 2.2rem;
	background:  #5FDED1;
	overflow: hidden;
}
.nav-1{
	width: 18.75rem;
	height: 0.9rem;
	margin:0.65rem 0;
	clear: both;
	line-height: 0.9rem;
}
.nav-1-left{
	width:0.6rem;
	height: 0.9rem;
	margin-left: 0.5rem;
	float: left;
}
.nav-1-left a img{
	width: 100%;
}
.nav-1-text{
	width: 2.9rem;
	height: 0.9rem;
	font-size: 0.9rem;
	color:#fff;
	float: left;
	margin-left: 6.5rem;
	letter-spacing: 1.02px
}
/*头部固定导航条结束*/
/*身体部分开始*/
.content{
	width: 18.75rem;
	height: 30.15rem;
	background: #EFEFEF;
}
/*轮播图部分开始*/
.swiper-slide{
	width: 6.2rem;
	height: 4.8rem;
	margin:0.75rem 0;
}
.swiper-container{
	width: 100%;
	height: 6.3rem;
	background: #fff;
}
.swiper-container img{
	width: 6.2rem;
	height: 4.8rem;
}
/*轮播图部分结束*/
.content-1{
	width: 18.75rem;
	height: 3.0rem;
	background: #fff;
	margin-top: 0.5rem;
}
.content-1-p1{
	display: inline-block;
	width: 100%;
	height: 1.0rem;
	margin-top: 0.5rem;
	font-size: 0.6rem;
	color:#666;
	letter-spacing: 0.68px
}
.content-1-p1 span{
	display: inline-block;
	width: 3.25rem;
	height: 100%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 0.7rem;
	color:#333;
}
.content-1-p2{
	display: inline-block;
	width: 100%;
	height: 1.0rem;
	margin-top: 0.5rem;
	font-size: 0.6rem;
	color:#666;
	letter-spacing: 0.68px
}
.content-1-p2 span{
	display: inline-block;
	width: 1.95rem;
	height: 100%;
	margin-left: 0.5rem;
	font-size: 0.7rem;
	color:#333;
}
/*小型犬套餐开始*/
.minCombo{
	width: 18.75rem;
	height: 3.0rem;
	background: #fff;
	margin-top:0.5rem;
	overflow: hidden;
}
.minCombo-1{
	width: 100%;
	height: 1.7rem;
	margin: 0.65rem 0;
}
.minCombo-span1{
	display: inline-block;
	width: 1.75rem;
	height: 0.9rem;
	margin-left: 0.7rem;
	margin-top:0.5rem;
	font-size: 0.6rem;
	color: #FC8488;
	float: left;
	letter-spacing: 0.79px;
}
.minCombo-span1 a{
	font-size: 0.8rem;
	color: #FC8488;
}
.minCombo-span2{
	display: inline-block;
	width: auto;
	height: 0.8rem;
	margin-top:0.5rem;
	margin-left: 1.2rem;
	float: left;
	font-size: 0.8rem;
	color:#333;
	line-height: 0.9rem;
	text-align: center;
	letter-spacing: 1.06px;
}
.minCombo-btn{
	width: 4.0rem;
	height: 1.7rem;
	float: right;
	margin-right: 0.55rem;
	background: #5FDED1;
	border-radius: 100px;
	font-size: 0.7rem;
	line-height: 1.7rem;
	text-align: center;
	letter-spacing: 1.06px;
}.minCombo-btn a{
	color:#fff;
}
/*小型犬套餐结束*/
/*用户评价开始*/
.evaluate{
	display: inline-block;
	width: 100%;
	height: 0.8rem;
	margin-top:0.625rem;
	margin-bottom:0.625rem;
	clear:left;
}
.evaluate span{
	display: inline-block;
	padding-left: 0.5rem;
	height: 0.8rem;
	font-size: 0.8rem;
	color:#000;
	letter-spacing: 0.91px;
	float: left;
}
.evaluate-content{
	width: 18.75rem;
	height: 3.395rem;
	background: #fff;
	clear:both;
}
.evaluate-img{
	width: 2.3rem;
	height: 2.3rem;
	float: left;
	margin:0.5rem 0 0.5rem 0.5rem;
}
.evaluate-img img{
	width: 100%;
}
.evaluate-text{
	width: 14.35rem;
	height: 2.2rem;
	margin-top: 0.5rem;
	color:#666;
	font-size: 0.7rem;
	float: right;line-height: 1.0rem;
}
.evaluate-text p{
	margin-top:0.5rem;
	letter-spacing: 0.68px;
}
.evaluate-content-top{
	margin-top: 0.5rem;
}
/*用户评价结束*/
/*身体部分结束*/
/*内容结束*/