body{
	background: #EFEFEF;
}
/*头部开始*/
#header{
	height:2.2rem;
	width:18.75rem;
	background-color:#5FDED1;
	position:relative;
}
#header>h1{
	padding:0 5.0rem;
	font-size:0.9rem;
	color:#fff;
	line-height:2.2rem;
	text-align:center;
	margin:0 auto;
	letter-spacing: 0.036rem;
}
#header>a{
	display:block;
	position:absolute;
	height:2.2rem;
	top:0;
	line-height:2.2rem;
}
#add{
	left:0.5rem;
	width:0.6rem;
}
#add img{
	width:100%;
}
#more{
	right:0.5rem;
	width:1.0rem;
}
#header>a>img{
	width:100%;
	margin:auto auto;
}
/*头部结束*/

/*城市，智能排序，筛选 开始*/
#search{
	width: 18.75rem;
	height: 1.9rem;
	background: #fff;
}
#search .left{
	width: 2.5rem;
	height: 1.9rem;
	line-height: 1.9rem;
	float: left;
	text-align: center;
	font-size: 0.7rem;
	color: #333333;
	letter-spacing: 0.039rem;
}
#search .left a{
	text-decoration: none;
	font-size: 0.7rem;
	color: #333333;
	letter-spacing: 0.039rem;
}
#search .center{
	width: 13.75rem;
	height: 1.9rem;
	line-height: 1.9rem;
	float: left;
	text-align: center;
	font-size: 0.8rem;
	color: #FB7175;
	letter-spacing: 0.039rem;
}
#search .center a{
	text-decoration: none;
	font-size: 0.8rem;
	color: #FB7175;
	letter-spacing: 0.039rem;
}
#search .center img{
	width: 10px;
	height: 0.3rem;
	margin-left: 0.25rem;
}
#search .right{
	width: 2.5rem;
	height: 1.9rem;
	line-height: 1.9rem;
	float: left;
	text-align: center;
}
#search .right a{
	text-decoration: none;
	font-size: 0.7rem;
	color: #333333;
	letter-spacing: 0.039rem;
}
/*城市，智能排序，筛选 结束*/

/* 店铺介绍地址 开始 */
#container{
	width: 18.75rem;
	height: 8.3rem;
	background: #fff;
	margin-top: 0.5rem;
	position: relative;
}
#container .img{
	width: 18.75rem;
	height: 4.8rem;
}
#container .img img{
	width: 100%;
}
#container .address{
	width: 17.75rem;
	height: 2.85rem;
	/*background: red;*/
	margin-left: 0.5rem;
	overflow: hidden;
}
#container .address .left{
	width: 8rem;
	height: 2.0rem;
	margin-top: 0.5rem;
	float: left;
}
#container .address .left h3{
	font-size: 0.7rem;
	color: #333;
	letter-spacing: 0.029rem;
	line-height: 1.0rem;
}
#container .address .left p{
	font-size: 0.6rem;
	color: #CACACA;
	letter-spacing: 0.029rem;
	line-height: 1.0rem;
	margin-top: 0.25rem;
}
#container .address .right{
	float: right;
	width: 4.0rem;
	height: 2.85rem;
}
#container .address .right img:first-child{
	width: 2.485rem;
	height: 2.3rem;
	position: absolute;
	z-index: 999;
	bottom:1.8rem;
}
#container .address .right img:last-child{
	width: 3.4rem;
	height: 0.85rem;
	position: absolute;
	bottom: 0.6rem;
}

/* 店铺介绍地址 结束 */