/*头部开始*/
#header{
	height:2.2rem;
	width:18.75rem;
	background-color:#5FDED1;
	position:relative;
}
#header>h1{
	padding:0 5.0rem;
	font-size:0.9rem;
	color:#fff;
	line-height:2.2rem;
	text-align:center;
	margin:0 auto;
	letter-spacing:0.058rem;
}
#header>a{
	display:block;
	position:absolute;
	height:2.2rem;
	top:0;
	line-height:2.2rem;
}
#add{
	left:0.5rem;
	width:0.6rem;
}
#more{
	right:0.5rem;
	width:1.0rem;
}
#header>a>img{
	width:100%;
	margin:auto auto;
}
/*头部结束*/
.safe{
	width:18.75rem;
	height:2.0rem;
	background:#fff;
	margin-top:0.5rem;
	float:left;
}
body{
	background:#EEEEEE;
}
.modification{
	width:3.1rem;
	height: 0.7rem;
	/*border:0.05rem solid red;*/
	margin-top:0.65rem;
	margin-left:0.5rem;
	font-size:0.7rem;
	text-align:center;
	line-height: 0.7rem;
	letter-spacing: 0.058rem;
	float:left;
	color:#000000;
}
.right{
	width:0.5rem;
	height:0.85rem;
	/*border:1px solid red;*/
	float:left;
	margin-left:14.1rem;
	margin-top:0.6rem;
	font-size:0.7rem;
	text-align:center;
	line-height: 0.85rem;
	color:#000000;
	letter-spacing:0.058rem;
}