/*头部开始*/
#header{
	height:2.2rem;
	width:18.75rem;
	background-color:#5FDED1;
	position:relative;
}
#header>h1{
	padding:0 5.0rem;
	font-size:0.9rem;
	color:#fff;
	line-height:2.2rem;
	text-align:center;
	margin:0 auto;
	/*font-weight:bold;*/
	letter-spacing: 0.051rem;
}
#header>a{
	display:block;
	position:absolute;
	height:2.2rem;
	top:0;
	line-height:2.2rem;
}
#add{
	left:0.5rem;
	width:0.6rem;
}
#add img{
	width:100%;
}
#more{
	right:0.5rem;
	width:1.0rem;
}
#header>a>img{
	width:100%;
	margin:auto auto;
}
/*头部结束*/
.see{
	width:3.25rem;
	height:3.25rem;
	/*border: 1px solid red ;*/
	margin:0 auto;
	margin-top:9.95rem;
}
.see>img{
	width:100%;
	height:100%;
}
.succeed{
	width:4.5rem;
	height:0.85rem;
	/*border:1px solid red;*/
	font-size:0.85rem;
	margin-left:7.15rem;
	margin-top:2.3rem;
	letter-spacing: 0.048rem;
	text-align:center;
	line-height:0.85rem;
	letter-spacing: 0.048rem;
}